NEXT_PUBLIC_RAPID_API_KEY="YOUR PUBLIC RAPID API KEY https://rapidapi.com/apininjas/api/cars-by-api-ninjas"
NEXT_PUBLIC_IMAGIN_API_KEY="hrjavascript-mastery" #Please use the following customer key (hrjavascript-mastery) if you like to experience how this API works and how you can embed it in your experimental projects.